#diaryPage {
    min-height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    /* background: linear-gradient(rgb(0, 0, 0), rgb(255, 130, 85)); */
    background-color: orangered;

}
#diaryPageHeaderImgContainer{
    width: 100%;
    height: fit-content;
    
    /* position: fixed; */
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: start;

    /* padding-top:  100px; */
    background-color: black;
    border: 20px solid rgba(105, 18, 18, 0.466);    

}
#diaryPageHeaderImgContainer > img {
    width: 80%;
    transform: translate(-20%);
    border-radius: 5px;
}

.diaryPageTitle {
    position: absolute;
    z-index: 1;
    text-shadow: 0 0 10px black;
}


#contentContainer {
    
    width: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;
}




#diary-countries {
    margin: 20px;
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.diary-country-container {
    transition: 1s;

    width: 90%;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
   
}

.diary-country-container:hover {
    transition: 1s;
    width: 95%;
}

.diary-country-container:hover > h3 {
    font-size: 22px;
    text-shadow: 0 0 15px orangered;
}



 




#diaryEntries {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
    width: 80%;

    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.747);
    backdrop-filter: blur(5px);

}

#diaryEntries > h1 {
    position:inherit;
}

#diaryEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    width: 80%;
    margin: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.747);
}

hr {
    width: 80%;
    border: 2px solid orangered;
    border-radius: 100%;
}

#diaryText{
    width: 80%;
}

#spacetimeCotainer {

    width: 80%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#spacetimeCotainer > p {
    font-size: 20px;
    width: max-content;
}


.backButton{
    background-color: rgba(0, 0, 0, 0.753);
    background: linear-gradient( rgb(255, 17, 0),black);
    border: 2px solid  rgba(255, 68, 0, 0.788);
    border-radius: 10px;

    color: white;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    
}

.endButton{
    margin-bottom: 100px;
}