#diaryPage {
    min-height: 600px;
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;


}
#diaryPageHeaderImgContainer{
    width: 100%;
    height: 100%;
    
    position: fixed;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: start;

    background-color: black;

}

/* Background image */
#bgImgContainer {
    align-self: center;
    height: 70%;
    transform: translate(-20%);
}
#bgImgContainer > img {
    height: 100%;

}
#backgroundImageForeground{
    background: linear-gradient(black, rgba(255, 255, 255, 0), black);    
    width: 100%;
    height: 100%;
    position:absolute;
}

/* Page title */
.diaryPageTitle {
    position: absolute;
    z-index: 1;
    text-shadow: 0 0 10px black;
}

/* Page Content */
#diaryContentContainer{

    width: 100%;
    min-height: 100vh;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}

/* List of diary entries */
#diary-countries {
    margin: 20px;
    padding: 20px;
    width: 40%;
    height: 40%;

    overflow-y: scroll;

    border: 7px solid rgba(179, 8, 8, 0.11);
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    backdrop-filter: blur(5px);
    
}

/* make scrollbar invisible */
#diary-countries::-webkit-scrollbar {
    display: none;
}


.diaryEntryBt{

    width: 90%;
    height: 40px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items:  center;
    padding: 20px;

    border: none;
    border-radius: 5px;
    background-color: rgba(255, 68, 0, 0.438);
    font-size: 20px;
}

.diaryEntryBt:hover {
    width: 95%;
    font-size: 22px;
    text-shadow: 0 0 10px orangered;
}




/*  */
/*  */
/*  */
 /*  */
 /* * {
    border: 1px solid green;
 } */



#diaryEntries {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 200px;
    width: 80%;

    border-radius: 5px;
    background-color: rgba(32, 32, 32, 0.959);
    backdrop-filter: blur(4px);

}



#diaryEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    width: 80%;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.747);
}

#diaryEntries > h1 {
    margin-top: 50px;
    text-align: center;
    padding: 10px;

}



#diaryHeader{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}


hr {
    width: 80%;
    border: 2px solid orangered;
    border-radius: 100%;
}

#diaryText{
    width: 80%;
    text-align: justify;
}

#spacetimeCotainer {

    width: 80%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#spacetimeCotainer > p {
    font-size: 20px;
    width: max-content;
}



@media ( max-width: 1100px){
    #bgImgContainer {
        transform: translate(-10%);
    }
    .diaryEntryBt {
        font-size: 15px;
    }
    .diaryEntryBt:hover {
        font-size: 17px;
    }
}


@media ( max-width: 750px){

    /* Background image */
    #bgImgContainer {
        transform: translate(-5%);
    }
    #bgImgContainer > img {
        height: 100%;
    
    }
    
    .diaryEntryBt{
    
        width: 90%;
        height: 40px;
        margin: 10px;
        font-size: 11px;
    
    }
    
    .diaryEntryBt:hover {
        width: 95%;
        font-size: 12px;
    }
    
    
    
     
    
    
    /* Diary */
    
    #diaryEntries {
        width: 80%;
    }
    
    
    
    #diaryEntry {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        width: 80%;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.747);
    }
    
    
}

@media (max-width: 600px) {

    #diaryContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #diary-countries {
        width: 60%;
        max-height: 20%;
    }

    #diaryEntries {
        width: 85%;
        margin-top: 150px;
    }

    #diaryEntries > h1 {
        margin-top: 25px;
        text-align: center;
        font-size: 20px;
    }

    
    
    #diaryHeader{
        width: 80%;
        height: 50px;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    #diaryEntry {
        
        width: 90%;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.747);
    }
    #spacetimeCotainer {
    
        width: 90%;
        height: 10px;
        margin-bottom: 0px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #spacetimeCotainer > p {
        font-size: 13px;
        padding: 5px;
        width: max-content;
    }

    hr {
        width: 85%;
        border: 2px solid orangered;
        border-radius: 100%;
    }
    
    #diaryText{
        width: 85%;
        text-align: justify;
    }
    
    


    #diaryText {
        font-size: 12px;
    }

}

@media (max-height: 700px){

    #diaryContentContainer {
        justify-content:flex-end;
        align-items: center;
    }
    
    #diary-countries {
        width: 60%;
        position:absolute;
        top: 152px;
        max-height: 90%;
    }
}