.navbar{
    transition: .5s;
    
    position: absolute;
    z-index: 10;
    
    height: var(--navbar-height);
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    background-color: var(--nav-color);
    backdrop-filter: blur(4px);
    
    top: 0;
}

#navbarBottom {
    top: calc(100% - var(--navbar-height));
    align-items: flex-start;
}


.navButton, .dropDownContainer > p, .menuDropDown > p{
    transition: .3s;
    user-select: none;
    margin: 20px;

    font-size: var(--h3-font-size);
    /* height: calc(var(--h3-font-size) + 12px); */
}
.navButton:hover {
    transition: .3s;
    font-size: calc(var(--h3-font-size) + 2px);
    text-shadow: 0 0 15px var(--accent-color);
}


/* dropdown menu */
.menuDropDown {
    position: absolute;

    min-width: 200px;
    height: fit-content;

    background-color: var(--nav-color);
}
.dropUp{
    bottom: 100px;
}
.dropDown{
    top: 100px
}



.dropDownContainer > p, .menuDropDown > p{
    transition: .5s;
    margin: 20px;
    
    font-size: var(--h3-font-size);
}

.menuDropDown > p:hover {
    transition: .5s;
    font-size: calc(var(--h3-font-size) + 2px);
    text-shadow: 0 0 15px var(--accent-color);
}


@media (max-width: 600px) {

    .navbar{
        height: 75px;
    }
    
    #navbarBottom {
        top: calc(100% - 75px);
    }
    .menuDropDown{
        top: 75px;
        min-width: 100px;
    }
    .dropUp {
        top: -63px
    }

    .navButton, .dropDownContainer > p, .menuDropDown > p{
        margin: 5px;
        font-size: calc(var(--h3-font-size) - 7px);
    }

    .navButton:hover, .menuDropDown > p:hover {
        font-size: calc(var(--h3-font-size) - 6px);
    }
}




