:root {
  --navbar-height: 100px;

  --h1-font-size: 50px;
  --h2-font-size: 40px;
  --h3-font-size: 20px;
  --h4-font-size: 16px;

  --nav-color: rgba(0, 0, 0, 0.671);
  --accent-color: orangered;
}



* {
  user-select: none;
  transition: 0.3s;
}

p, h1, h2, h3, h4, button {
  color: white;
}

h2 {
  position: absolute;
  z-index: 1;
  margin-top: 150px;

  font-size: var(--h2-font-size);
  text-shadow: 0 0 10px black;
  text-align: center;
}
h3 {
  transition: 1s;
  font-size: var(--h3-font-size);
  text-shadow: 0 0 5px orangered;
}


#maintitle{
  transition: 1s ease-in-out;
  position: absolute;
  z-index: 11;
  margin: 10px 0px 0px 10px;

}

#homeNav > h1 {
  margin: 40vh 100px;
  font-size: var(--h1-font-size);
}

@media (max-width: 600px){
  #maintitle {
    font-size: 15px;
  }
  #homeNav > h1 {
    margin: 40vh 50px;
    font-size: calc(var(--h1-font-size) - 15px);
  }
  h2 {
    font-size: calc(var(--h2-font-size) - 15px);
    margin-top: 100px;
  }
}


.verticalSeparator{
  height: 10px;
  width: 0;
}
.link {
  position:relative;
  color: orangered;
  margin: 6px
}
.link:hover {
  top: -4px;
  font-size: 20px;
  margin: 0px
}


.backButton{
  background-color: rgba(255, 68, 0, 0.562);
  border: none;
  border-radius: 5px;
  height: 40px;
  width: fit-content;

  font-size: 20px;
  padding: 10px;
  margin: 5px;
  
}


.backButton:hover {
  background-color: rgba(253, 102, 46, 0.562);
}

.endButton{
  margin-bottom: 100px;
}




@media (max-width: 600px){
  .backButton {
    font-size: 10px;
    padding: 5px;
    height: 25px;
  }
}

/* Background */
.backgroundContainer{
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  position:fixed;
  z-index: -1;
  overflow: hidden;
}



.backgroundContainer {
  background-repeat:no-repeat;
  background-position:top;
  background-size:cover;
}




